<div class="container" style="margin-top: 10px;">
    <ngb-tabset>
        <ngb-tab title="Groups">
            <ng-template ngbTabContent>
                <app-groups></app-groups>
            </ng-template>    
        </ngb-tab>   
        <ngb-tab title="Registration">
            <ng-template ngbTabContent>
                <app-register-form></app-register-form>   
            </ng-template>    
        </ngb-tab>
        <ngb-tab title="Spreadsheets">
            <ng-template ngbTabContent>
                <app-spreadsheets></app-spreadsheets>
            </ng-template>
        </ngb-tab>
    </ngb-tabset> 
</div>