<app-add-group (groupAdded)="onGroupAdded($event)"></app-add-group>

<div class="container">
    <h1>All Groups</h1>
    <table class="table table-fixed">
        <thead>
            <tr>
                <th class="col-xs-3">Group Name</th>
                <th class="col-xs-3">Start Date</th>
                <th class="col-xs-6">End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of groups">
                <td class="col-xs-3"><a [routerLink]="['/group']" [queryParams]="{group_name: g.name }">{{g.name}}</a></td>
                <td class="col-xs-3">{{formattedDate(g.startDate)}}</td>
                <td class="col-xs-6">{{formattedDate(g.endDate)}}</td>
            </tr>
        </tbody>
    </table>
</div>