<div class="container">
    <h1>Register</h1>
    <div [hidden]="errMsg === ''" 
        class="alert alert-danger">
        {{errMsg}}
    </div>
    <div [hidden]="statusMsg === ''" class="alert alert-info">
        {{statusMsg}}
    </div>
    <form (ngSubmit)="register()" #regForm="ngForm">
        <h2>I prefer to be contacted by:</h2>
        <div class="radio">
            <label class="radio-inline" for="email-pref">
                <input type="radio" id="email-pref"
                required checked name="contactPref" value="email" 
                (change)="changeContactPref($event.target.checked)">
                Email
            </label>

            <label class="radio-inline" for="phone-pref">
                <input type="radio" id="phone-pref"
                required name="contactPref" value="phone"
                (change)="changeContactPref(!$event.target.checked)">
                Phone
            </label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control short left" id="given-name" 
            required [(ngModel)]="user.firstName" name="firstName"
            placeholder="First name" #firstName="ngModel">
            <input type="text" class="form-control short" id="family-name"
            required [(ngModel)]="user.lastName" name="lastName"
            placeholder="Last name" #lastName="ngModel">
        </div>
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
            First name is required.
        </div>

        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
            Last name is required.
        </div>

        <div *ngIf="emailPreferred; else phonePref" class="form-group">
            <input type="text" class="form-control short left" id="email"
            required [(ngModel)]="user.email" name="email"
            placeholder="pat@example.com" #email="ngModel">
            <!-- TODO: We have to have the alert div inside the ngIf so that it's hidden when the
            ngIf is, but doing it that way means that when it show it's bumped right up
            against the bottom of the email field, unlike the other alerts. -->
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required.
            </div>
        </div>

        <ng-template #phonePref class="form-group">
            <input type="text" class="form-control short left" id="phone"
            required [(ngModel)]="user.phone" name="phone"
            #phone="ngModel"
            placeholder="+12135551212"
            >
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                Phone is required.
            </div>
        </ng-template>

        <div class="form-group">
            <input type="password" class="form-control short" id="password" 
            required [(ngModel)]="user.password" name="password" 
            placeholder="Password" #thepass="ngModel">
        </div>

        <div class="form-group">
            <input type="text" class="form-control short" id="subjectId" 
            required [(ngModel)]="user.subjectId" name="subjectId" 
            placeholder="Subject ID" #thesubjId="ngModel">
        </div>

        <div class="form-group">
            <input type="text" class="form-control short" id="group" 
            required [(ngModel)]="user.group" name="group" placeholder="Group"
            [ngbTypeahead]="groupSearch" />
        </div>    

        <div class="form-group">
            <div class="file-upload">
                <input required id="file-chooser" type="file" (change)="fileChangeListener($event)" />
                OR <button class="btn" type="button" (click)="onUseCameraClick($event)">Use camera</button>
                <div [hidden]="!useCamera" class="camera">
                    <ack-webcam [(ref)]="webcam" [options]="camOptions" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
                    <button type="button" (click)="camCapture()">Capture</button>
                </div>
            </div>
            <img-cropper #cropper [image]="imgData" [settings]="cropperSettings" (onCrop)="cropChanged($event)"></img-cropper><br/>
            <img [src]="imgData.image" [hidden]="imgData.image === undefined" width="70" height="70">
        </div>

        <div [hidden]="thepass.valid || thepass.pristine" class="alert alert-danger">
            Password is required.
        </div>
        <button class="btn" 
        [disabled]="!regForm.form.valid || imgData.image === undefined" 
        type="submit">Register</button>
    </form>
</div>