[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
gspread = "*"
oauth2client = "*"
moment = "*"
pywinauto = "*"
h5py = "*"
boto3 = "*"
colorama = "*"
kubios = {editable = true,path = "./../lib/kubios"}

[requires]
python_version = "3.7"
