[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
gspread = "*"
oauth2client = "*"
moment = "*"
pywinauto = "*"
kubios = {editable = true,git = "https://github.com/noah10/kubios.git",ref = "py3-with-max"}

[requires]
python_version = "3.7"
