# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# role mapping file generated during setup and referenced from serverless.yml
rolemappings.yml

# private key for spreadsheet access
training-data-import/private-key.json
