.calendar-icon {
  width: 1.2rem; 
  height: 1.4rem; 
  cursor: pointer;
}
input.short {
  max-width: 200px;
}
.left {
  float: left;
  margin-right: 10px;
}
/* fix for https://github.com/twbs/bootstrap/pull/24126 */
.btn {
  border: 1px solid;
}
.group-msg-txt {
  resize: none;
  padding: 12px 12px;
}
.msg-text-btn {
  margin: 2.3em .5em;
}