.calendar-icon {
  width: 1.2rem; 
  height: 1.4rem; 
  cursor: pointer;
}
input.short {
  max-width: 200px;
}
.left {
  float: left;
  margin-right: 10px;
}
/* fix for https://github.com/twbs/bootstrap/pull/24126 */
.btn {
  border: 1px solid;
}
.file-upload {
  margin-bottom: 1em;
}
.group-msg-txt {
  border-radius: 0px 0px 3px 3px;
  resize: none;
  padding: .4em;
}
.msg-text-btn {
  margin: 5px 0px 10px 0px;
  float: right;
}
.msg-container {
  max-width: 640px;
}
.msg-area-div {
  max-width: 640px;
  margin-left: 59px;
}
.textarea-container {
  border: 1px solid black;
  border-radius: 3px;
}
.textarea-container textarea {
  border: none;
  max-width: 640px;
  width: 100%;
}
.textarea-container textarea:focus {
  outline:none;
}
.title {
  background-color: rgb(232, 232, 232);
  border-bottom: 1px solid black;
  border-radius: 3px 3px 0px 0px;
  padding: .7em;
  font-size: 90%;
  font-weight: 600;
  color: rgb(100, 100, 100);
}