body {
  background-color: #bdc3c7;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed thead, .table-fixed tbody, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
  min-width: 120px;
}
.table-fixed thead tr th {
  float: left;
  min-width: 120px;
  background-color: #86bef3;
  border-color: #86bef3;
}
  