.msg-container {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0em 0em 2em 3.5em;
}
.msg-text {
    padding: .7em;
}
.small-img {
    border-radius: 3px;
    display: block;
    float: left;
    margin-top: .5em;
}
